<h3>Estadísticas</h3>
<p>Cantidad de preguntas: <%= cantidadPreguntas %></p>
<p>Cantidad de comentarios: <%= cantidadComentarios %></p>
<p>Cantidad de comentarios por pregunta: <%= cantidadComentarios/cantidadPreguntas %></p>
<p>Cantidad de preguntas sin comentarios: <%= cantidadPreguntasSinComentarios %></p>
<p>Cantidad de preguntas con comentarios: <%= cantidadPreguntas-cantidadPreguntasSinComentarios %></p>